In [ ]:
x=5

In [2]:
print("hello world")

hello world

In [3]:
x=10

In [4]:
type(x)

int

In [5]:
print(x)

10

In [6]:
x="aya"

In [7]:
hex(id(x))

'0x13273dd6670'

In [8]:
2+3

5

In [10]:
# this variable ....... شكل الكومنت
print("programme")
# print ("secion")

programme

In [15]:
""" this variable .......
شكل تاني للكومنت لو عايز اكتب في اكتر من سطر """

' this variable .......\nشكل تاني للكومنت لو عايز اكتب في اكتر من سطر '

In [13]:
x = """vvvnnama,,a"""

In [14]:
x

'vvvnnama,,a'

In [18]:
age=50
name ="aya"

In [23]:
print("may name is {0}, my age is {1}".format(name,age))

may name is aya, my age is 50

In [24]:
print(f"My name is {name},and my age is {age}")

My name is aya,and my age is 50

In [25]:
list_1=[1,2,3]
type(list_1)

list

In [26]:
list_2="aya"
list(list_2)

['a', 'y', 'a']

In [30]:
str_1="amit learning"
str_1[0:4:2]

'ai'

In [31]:
name="amit learning"
print(name.replace("amit","hello"))

hello learning

In [34]:
name="AMIt learning"
print(name.lower())
print(name.capitalize())
print(name.upper())

amit learning
Amit learning
AMIT LEARNING

In [36]:
name="amit learning amit learning"
print(name.count("amit"))
print(name.split())

2
['amit', 'learning', 'amit', 'learning']

In [37]:
words=["this","is","words"]
sentence=" ".join(words)
print(sentence)

this is words

In [38]:
list_3=[1,2,3,4]
list_3*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [41]:
list_3=["ahmed",2,200,True]
len(list_3)
x=list_3 +["aya"]

In [43]:
list_3

['ahmed', 2, 200, True]

In [44]:
x=True
type(x)

bool

In [45]:
1<2

True

In [46]:
dic_1={"ky_1":"v1","key_2":"v2"}
dic_1["key_2"]

'v2'

In [47]:
1==2

False

In [48]:
1!=2

True

In [49]:
"x" in "box"

True

In [50]:
"x" not in "box"

False

In [ ]:
s="welcome to depi"
s.find("depi") # جاب الانديكس بتاع اول حرف من الكلمه

11

In [54]:
s=("     depi     ")
s.strip()

'depi'

In [56]:
std_name=input("enter your name")

In [57]:
type(std_name)

str

In [58]:
std_age=int(input("enter your age"))

In [59]:
type(std_age)

int

In [61]:
num_1 =int(input("enter num1"))
num_2 =int(input("enter num2"))
mult = num_1 * num_2
print(f"the multiple of num_1{num_1} and num_2{num_2} is", mult)

the multiple of num_12 and num_23 is 6

In [62]:
num_1 =int(input("enter num1"))
num_2 =int(input("enter num2"))
sum = num_1 + num_2
print(f"the multiple of num_1{num_1} and num_2{num_2} is",sum)

the multiple of num_12 and num_23 is 5

In [63]:
num_1 =int(input("enter num1"))
num_2 =int(input("enter num2"))
sub = num_1 - num_2
print(f"the multiple of num_1{num_1} and num_2{num_2} is",sub)

the multiple of num_14 and num_22 is 2

In [64]:
num_1 =int(input("enter num1"))
num_2 =int(input("enter num2"))
div = num_1 / num_2
print(f"the multiple of num_1{num_1} and num_2{num_2} is",div)

the multiple of num_14 and num_22 is 2.0

In [4]:
encoded_message = "###!!@mocleW EPGTQ!!!6789"
start = encoded_message.find("@")+1
end = encoded_message.find("!!!")
core_part=encoded_message[start:end]
words=core_part.split()
first_name=words[0][::-1]
second_name=words[1][1::]
decoded_message=first_name + " " + second_name
print("decoded_message",decoded_message)

decoded_message Welcom PGTQ

In [1]:
list_1=[1,2,3,4,"Depi","Learning",True,[1,2,3,"true",["ML","Dl","Ds"]]]

In [3]:
list_1[4]

'Depi'

In [6]:
list_1[7][4][1]

'Dl'

In [ ]:
#لو عيز اغير قيمه اي idex
list_1[4]="amit"

In [8]:
list_1

[1, 2, 3, 4, 'amit', 'Learning', True, [1, 2, 3, 'true', ['ML', 'Dl', 'Ds']]]

In [ ]:
x="aya"
print(type(x))
y=list(x)
print(type(y))

<class 'str'>
<class 'list'>

In [10]:
list_11=["Depi","Data","science"]
list_11.append("Machine learning")
list_11

['Depi', 'Data', 'science', 'Machine learning']

In [12]:
list_11=["Depi","Data","science"]
list_11.insert(0,"machine learning")
list_11

['machine learning', 'Depi', 'Data', 'science']

In [14]:
x=[1,2,3]
y=[4,5,6]
x.extend(y)
x

[1, 2, 3, 4, 5, 6]

In [18]:
# remove..... بتزيل الitem بس لو عندي كذا حاجه متكرره بتحذف اول item بتقابله
#pop.........بتحذف و تعمل print لل items
#del........بتحذف ال list كلها او item معين
list_11=["Depi","Data","science"]
list_11.remove("Depi")
list_11

['Data', 'science']

In [19]:
list_11=["Depi","Data","science"]
list_11.pop(0)
list_11

['Data', 'science']

In [20]:
list_11=["Depi","Data","science"]
print(list_11.pop())

science

In [22]:
my_list=[3,4,2,5,1,9]
my_list.sort()
my_list

[1, 2, 3, 4, 5, 9]

In [23]:
my_list=[3,4,2,5,1,9,3,2]
my_list.clear()
my_list

[]

In [ ]:
tuple_1=(1,2,3,4,"Depi","Learning",True,[1,2,3,"true",("ML","Dl","Ds")])
tuple_1[4]

'Depi'

In [29]:
tuple_1=(1,2,3,4,"Depi","Learning",True,[1,2,3,"true",("ML","Dl","Ds")])
x=list(tuple_1)
print(x)
print(type(x))
x[4]="Amit"
x
y=tuple(x)
print(type(y))

[1, 2, 3, 4, 'Depi', 'Learning', True, [1, 2, 3, 'true', ('ML', 'Dl', 'Ds')]]
<class 'list'>
<class 'tuple'>

In [31]:
x2=["ahmed","aly","mona","aya"]
x3=set(x2)
type(x3)

set

In [32]:
x3[0]

TypeError: 'set' object is not subscriptable

In [34]:
dict_1={"Key1":12.7 , "key2": "Depi" , "key3":"Python"}
dict_1["key1"]="Amit"
dict_1

{'Key1': 12.7, 'key2': 'Depi', 'key3': 'Python', 'key1': 'Amit'}

In [35]:
list_1=[("a",1),("b",2)]
list_1
zz=tuple(list_1)
zz

(('a', 1), ('b', 2))

In [ ]:
student_grade=float(input("enter your grade"))
if 100>student_grade>=90:
    grade = 'A'
elif 80 <= student_grade < 90:
    grade="B"
elif 70 <=student_grade < 80:
    grade = 'C'
elif 60 <=student_grade < 70:
    grade = 'D'
elif 0 <= student_grade < 60:
    grade = 'F'
else:
    grade = 'Invalid degree'
print(grade)

A

In [40]:
for i in range (6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [41]:
for i in range (6):
    if i==4:
        break
    print(i)

0
1
2
3

In [42]:
for i in range (6):
    if i==2:
        pass
    else:
        print(i)

0
1
3
4
5

In [43]:
x=6
while x>0:
    print(x)
    x-=1

6
5
4
3
2
1

In [44]:
import os
import sys

In [51]:
f = open("C:\\Users\\aya mostafa\\Desktop\\diploma\\env setup\\test.txt", "r")

In [52]:
print(f.read())
all_lines=f.readlines()
for line in all_lines:
    print(line)

hello world

In [55]:
f = open("C:/Users/aya mostafa/Desktop/diploma/env setup/test.txt", "a")
f.write("hello again depi\n")
f.close()

In [56]:
f = open("C:/Users/aya mostafa/Desktop/diploma/env setup/test.txt", "a")
for i in range(30):
    f.write("\nI i love python"+ str(i))
f.close()

In [57]:
f = open("C:/Users/aya mostafa/Desktop/diploma/env setup/test.txt", "r")
print(f.read())
f.close()

hello again depihello again depi

I i love python0
I i love python1
I i love python2
I i love python3
I i love python4
I i love python5
I i love python6
I i love python7
I i love python8
I i love python9
I i love python10
I i love python11
I i love python12
I i love python13
I i love python14
I i love python15
I i love python16
I i love python17
I i love python18
I i love python19
I i love python20
I i love python21
I i love python22
I i love python23
I i love python24
I i love python25
I i love python26
I i love python27
I i love python28
I i love python29

In [58]:
import os

In [ ]:
file=os.listdir

In [6]:
def multi_function():
    num_1 = int(input("Enter num1: "))
    num_2 = int(input("Enter num2: "))
    result = num_1 * num_2
    print(f"The multiplication of {num_1} and {num_2} is {result}")
multi_function

In [ ]:
def multi_function(num_1, num_2):
    multi = num_1 * num_2
    print(f"The multiplication of {num_1} and {num_2} is {multi}")


x = int(input("Enter number 1: "))
y = int(input("Enter number 2: "))


multi_function(x, y)

The multiplication of 2 and 3 is 6

In [11]:
class Student:
    name="AYA"
    age=20
    gpa=3,4
    gender="female"
    def info(self):
        print("hello")

In [6]:
s1=Student()

In [14]:
s1.age=19
s1.name="AYA"
s1.info()

NameError: name 'name' is not defined

In [15]:
class Student:
    name = "AYA"
    age = 20
    gpa = 3.4
    gender = "female"
    
    def info(self):
        print("Name:", self.name)
        print("Age:", self.age)
        print("GPA:", self.gpa)
        print("Gender:", self.gender)

In [16]:
s1=Student

In [17]:
s1.info

In [ ]:
class Stu:
    name="aya"
    age=19
    gpa=3.2
    gender="female"
    def info(self):
        print("hello")

In [19]:
s1=Stu

In [20]:
s1.info()

hello

In [23]:
class test:
    def info(self):
        print(self)
x=test()
x
x.info()

<__main__.test object at 0x0000025F4E26D8B0>

In [ ]:
class test:
    def info(self):
        print(self)

x = test()     
x.info()

<__main__.test object at 0x0000025F4E26F7A0>

In [ ]:
class Student:
    def __init__(self, name):
        self.name=name

In [27]:
s1=Student("aya")

In [30]:
class clc:
    def __init__(self, num1,num2):
        self.num1=num1
        self.num2=num2
    def addition(self):
        return self.num1+ self.num2
    def multi(self):
        return self.num1* self.num2
    def devide(self):
        return self.num1/self.num2
    def sub(self):
        return self.num1-self.num2

In [32]:
c1=clc(20,30)
c1.sub()

-10

In [36]:
from abc import  ABC, abstractmethod
class animal(ABC):
    @abstractmethod
    def mofe(self):
        pass
     
class Bride(animal):
    def move(self):
        print("move frome animal")
        
class cat(animal):
    def move(self):
        print("move from animal")

In [ ]:
a=Bride()
a.move()

In [ ]:
class car:
    #privite atribute
    __engine__capacity="200cc"
    def __start_engine(self):
        print("Engine started")

In [39]:
c1=car

In [40]:
c1.__start_engine

AttributeError: type object 'car' has no attribute '__start_engine'